* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top left, #6a0d5c, #0c0b2b);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
  font-weight: 500;
}

.header a {
  font-size: 14px;
  color: #ddd;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 12px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ddd;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #a855f7;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a855f7;
}